body {
	background: #f5f5f5;
	font-family: "Roboto", sans-serif;
}


.shadow {
	box-shadow: 0 5px 20px rgba(0, 0, 0, 0.06) !important;
}

.main-content {
	padding-top: 100px;
	padding-bottom: 100px;
}

.banner {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 125px;
	background-image: url("https://media.istockphoto.com/vectors/abstract-orange-vector-background-with-stripes-vector-id1311009664?k=20&m=1311009664&s=612x612&w=0&h=2KJja1I-TQq7C2bibB53etYH-D5XwO6r6N93f4B2oKE=");
	background-position: center;
	background-size: cover;
}


.img-circle {
	height: 150px;
	width: 150px;
	border-radius: 150px;
	border: 3px solid #fff;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	z-index: 1;
    background-color: white;
    border-color:rgb(216, 148, 0);
}

.social-links a {
	transition: all 0.2s;
}
.social-links a img {
	height: 30px;
}
.social-links a:hover {
	transform: translateY(-3px);
}
